<script setup lang="ts">
import { ref } from "vue";
import { refAutoReset } from "@vueuse/core";
import PostForm from "@/components/PostForm.vue";

interface Post {
  author: string;
  description: string;
  id: number;
  title: string;
}

type densities = "default" | "compact" | "comfortable";

const headers = ref<any[]>([
  { title: "Title", align: "start", key: "title", sortable: true },
  { title: "Author", align: "start", key: "author", sortable: true },
]);

const getRandomDescription = (): string => {
  const descriptions = [
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem.",
    "Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.",
    "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
    "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
  ];
  const randomIndex = Math.floor(Math.random() * descriptions.length);
  return descriptions[randomIndex];
};

const postForm = ref();

const posts = ref<Post[]>([
  {
    id: 1,
    title: "Post 1",
    author: "John Doe",
    description: getRandomDescription(),
  },
  {
    id: 2,
    title: "Post 2",
    author: "Jane Smith",
    description: getRandomDescription(),
  },
  {
    id: 3,
    title: "Post 3",
    author: "Alex Johnson",
    description: getRandomDescription(),
  },
  {
    id: 4,
    title: "Post 4",
    author: "Michael Brown",
    description: getRandomDescription(),
  },
  {
    id: 5,
    title: "Post 5",
    author: "Emily Davis",
    description: getRandomDescription(),
  },
  {
    id: 6,
    title: "Post 6",
    author: "Daniel Wilson",
    description: getRandomDescription(),
  },
  {
    id: 7,
    title: "Post 7",
    author: "Sophia Thompson",
    description: getRandomDescription(),
  },
  {
    id: 8,
    title: "Post 8",
    author: "Matthew Anderson",
    description: getRandomDescription(),
  },
  {
    id: 9,
    title: "Post 9",
    author: "Olivia Martinez",
    description: getRandomDescription(),
  },
  {
    id: 10,
    title: "Post 10",
    author: "William Taylor",
    description: getRandomDescription(),
  },
  {
    id: 11,
    title: "Post 11",
    author: "Ava Clark",
    description: getRandomDescription(),
  },
  {
    id: 12,
    title: "Post 12",
    author: "James Rodriguez",
    description: getRandomDescription(),
  },
  {
    id: 13,
    title: "Post 13",
    author: "Isabella Hernandez",
    description: getRandomDescription(),
  },
  {
    id: 14,
    title: "Post 14",
    author: "Benjamin Lee",
    description: getRandomDescription(),
  },
  {
    id: 15,
    title: "Post 15",
    author: "Mia Lewis",
    description: getRandomDescription(),
  },
  {
    id: 16,
    title: "Post 16",
    author: "Ethan Walker",
    description: getRandomDescription(),
  },
  {
    id: 17,
    title: "Post 17",
    author: "Charlotte Turner",
    description: getRandomDescription(),
  },
  {
    id: 18,
    title: "Post 18",
    author: "Alexander Hill",
    description: getRandomDescription(),
  },
  {
    id: 19,
    title: "Post 19",
    author: "Grace Baker",
    description: getRandomDescription(),
  },
  {
    id: 20,
    title: "Post 20",
    author: "Henry Mitchell",
    description: getRandomDescription(),
  },
]);

const postSaved = refAutoReset(false, 4000);

const search = ref<string>("");

const selected = ref<Post[]>([]);

const tableDensity = ref<densities>("default");

const handleClickOutside = () => {
  selected.value = [];
};

const handleResize = () => {
  let density: densities = "default";
  if (window.innerHeight < 800) density = "comfortable";
  if (window.innerHeight < 600) density = "compact";
  tableDensity.value = density;
};
</script>

<template>
  <div>
    <!-- <v-alert
      variant="tonal"
      type="success"
      closable
      title="Post Updated"
      v-model="postSaved"
    /> -->

    <v-snackbar v-model="postSaved" :timeout="4000" location="top right">
      <div class="d-flex align-center">
        <v-icon icon="mdi-check-circle" class="text-green pr-3"></v-icon>
        Post Saved!
      </div>
    </v-snackbar>

    <h1>Posts</h1>
    <v-text-field
      v-model="search"
      clearable
      hide-details
      label="Search Posts"
      prepend-inner-icon="mdi-magnify"
      single-line
    ></v-text-field>
    <v-data-table
      v-click-outside="handleClickOutside"
      v-model="selected"
      v-resize="handleResize"
      :density="tableDensity"
      :headers="headers"
      :items="posts"
      :search="search"
      item-value="title"
      show-select
    >
      <template #item.title="{ item }">
        <v-dialog fullscreen>
          <template v-slot:activator="{ props }">
            <button v-bind="props" v-ripple class="pa-3">
              {{ item.title }}
            </button>
          </template>

          <template v-slot:default="{ isActive }">
            <v-card>
              <template #title>
                <span>Edit {{ item.title }}</span>
              </template>

              <v-card-text>
                <PostForm
                  @submit="
                    isActive.value = false;
                    postSaved = true;
                  "
                  ref="postForm"
                  :post="item"
                />
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn text="Cancel" @click="isActive.value = false"></v-btn>

                <v-btn
                  @click="postForm.submit()"
                  color="blue"
                  text="Save Post"
                  variant="flat"
                ></v-btn>
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </template>
    </v-data-table>
  </div>
</template>
