<script setup lang="ts">
import { tSConstructorType } from "@babel/types";
import { ref } from "vue";

interface Form {
  title: string;
  tags: string[];
  published: boolean | null;
  description: string;
  image: File[];
}

const emit = defineEmits(["submit"]);

const props = defineProps<{
  post: Record<string, any>;
}>();

const form = ref<Form>({
  title: "",
  tags: [],
  published: null,
  description: "",
  image: [],
  ...props.post,
});
const submitBtn = ref();
const valid = ref(true);

const asyncValidation = async (value: string) => {
  const res = await fetch(`https://httpbin.org/status/${value}`);
  if (res.ok) return true;
  return "Bad response code.";
};
const isNotEmpty = (value: string[]) => {
  if (value && value.length) return true;
  return "Please choose at least one option.";
};
const isRequired = (value: string) => {
  if (value) return true;
  return "This field is required.";
};
const handleSubmit = () => {
  if (!valid.value) return;
  console.log("submitting", form.value);
  emit("submit");
};
const submit = () => submitBtn.value.click();

defineExpose({ submit });
</script>

<template>
  <v-form v-model="valid" @submit.prevent="handleSubmit" ref="formEl">
    <v-row>
      <v-col cols="6" md="3">
        <v-switch label="Published" v-model="form.published"></v-switch>
      </v-col>
      <v-col cols="6" md="3">
        <v-checkbox
          indeterminate
          v-model="form.published"
          label="Published"
        ></v-checkbox>
      </v-col>
    </v-row>

    <v-text-field v-model="form.title" :rules="[isRequired]" label="Title" />
    <v-combobox
      v-model="form.tags"
      :items="['News', 'Tutorial', 'Event']"
      :rules="[isNotEmpty]"
      label="Tags"
      multiple
      chips
    ></v-combobox>
    <v-file-input
      accept="image/png, image/jpeg, image/bmp"
      placeholder="Uplaod a Feature Image"
      prepend-icon="mdi-camera"
      label="Feature Image"
      v-model="form.image"
    ></v-file-input>
    <v-textarea
      label="Post Description"
      v-model="form.description"
    ></v-textarea>

    <button ref="submitBtn" type="submit" class="d-none">Submit</button>
  </v-form>
</template>
