<script setup lang="ts">
import { ref } from "vue";

interface Item {
  title: string;
}

interface NavItem {
  icon: string;
  title: string;
  url: string;
  value: string;
}

const drawer = ref<boolean>(false);

// create items array using ref. Provide placeholder data
const items = ref<Item[]>([
  { title: "Profile" },
  { title: "Settings" },
  { title: "Logout" },
]);

const navItems = ref<NavItem[]>([
  { icon: "mdi-post-outline", title: "Posts", url: "/posts", value: "posts" },
  {
    icon: "mdi-comment-outline",
    title: "Comments",
    url: "/comments",
    value: "comments",
  },
]);
</script>

<template>
  <v-layout class="rounded rounded-md">
    <v-app-bar>
      <template #prepend>
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>
          <!-- Add router link to / and remove text decoration and visited -->
          <router-link to="/" class="text-decoration-none text-blue">
            Vuetify App
          </router-link>
        </v-toolbar-title>
      </template>
      <template #append
        ><v-menu>
          <template v-slot:activator="{ props }">
            <v-avatar v-bind="props" color="blue">
              <span>RG</span>
            </v-avatar>
          </template>
          <v-list :min-width="100">
            <v-list-item
              v-for="(item, index) in items"
              :key="index"
              :value="index"
            >
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" expand-on-hover rail>
      <v-list density="compact" nav>
        <v-list-item
          v-for="item in navItems"
          :key="item.value"
          :prepend-icon="item.icon"
          :title="item.title"
          :to="`${item.url}`"
          :value="item.value"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main style="min-height: 300px">
      <div class="pa-5">
        <router-view></router-view>
      </div>
    </v-main>
  </v-layout>
</template>
